<div class="container">
    <div ng-controller="loginCtrl">
        <div class="row">
            @Html.Partial("_Login")
        </div>

        @Html.Partial("_PopupForgot")
        @Html.Partial("_PopupRegister")
        @Html.Partial("_PopupChangePassword")
        @Html.Partial("_PopupChangeSettings")

        <div class="clear-float"></div>
        <footer style="margin-top: 1.25em;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: 0.5em;"><a class="login-center-block" id="text-footer-serca">&copy;{{currentYear}} Serca</a></div>
                    @*<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><a href="http://www.shaman-sge.com/" target="_blank"><img class="login-center-block" src="~/Content/img/shaman_f.jpg" alt="Logo Shaman" /></a></div>*@
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><a href="http://www.serca.com.ar/" target="_blank"><img class="login-center-block" src="~/Content/img/serca_f.jpg" alt="Logo Grupo Serca" /></a></div>
                    @*<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><a href="http://www.fundacionserca.com.ar/" target="_blank"><img class="login-center-block" src="~/Content/img/deltamedic_f.jpg" alt="Logo Delta Medic" /></a></div>*@
                    @*<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><a href="http://www.fundacionserca.com.ar/" target="_blank"><img class="login-center-block" src="~/Content/img/fundacion_f.jpg" alt="Fundacion Serca" /></a></div>*@
                </div>
            </div>
        </footer>
    </div>
</div>
<style>
    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

        /* style icon */
        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    /* align icon */
    .left-addon .glyphicon {
        left: 0px;
    }

    .right-addon .glyphicon {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }
</style>